<div class="news news1">
    <div class="title"></div>
    <div class="content"></div>
</div>
<div class="news news2">
    <div class="title"></div>
    <div class="content"></div>
</div>
<div class="news news3">
    <div class="title"></div>
    <div class="content"></div>
</div>