<div style="clear: both;">
    Normal ticket:
    <input id="normalTicket" type="number" name="normalTicket" value="0" min="0"/>
</div>
<div>
    Reduced ticket:
    <input id="specjalTicket" type="number" name="specjalTicket" value="0" min="0"/>
</div>
<div>
   The total cost: <span id="money">0</span> zł
</div>