<!--title jako label wykonywanej akcji-->
<form name="addmovie" action="/addmovieCRUD" method="post">
    <div>
        <input type="text" name="movie" placeholder='Name of movie'>
    </div>
    <div style="clear: both; color: #FFF">Hall:</div>
    <ul id="hallList">
        <li><input type="radio" name="hall" value="1" checked>Nr 1</li>
        <li><input type="radio" name="hall" value="2">Nr 2 </li>
        <li><input type="radio" name="hall" value="3">Nr 3</li>
        <li><input type="radio" name="hall" value="4">Nr 4</li>
    </ul>
    <div style="clear: both; color: #FFF">Day:</div>
    <ul id="dayList">
        <li><input type="checkbox" name="day" value="monday" checked>Monday</li>
        <li><input type="checkbox" name="day" value="tuesday">Tuesday</li>
        <li><input type="checkbox" name="day" value="wednesday ">Wednesday</li>
        <li><input type="checkbox" name="day" value="thursday">Thursday</li>
        <li><input type="checkbox" name="day" value="friday">Friday</li>
        <li><input type="checkbox" name="day" value="saturday">Saturday</li>
        <li><input type="checkbox" name="day" value="sunday">Sunday</li>
    </ul>
    <div style="clear: both; color: #FFF">Hour:</div>
    <ul id="hourList">
        <li><input type="checkbox" name="hour" value="8:00" checked>8:00</li>
        <li><input type="checkbox" name="hour" value="8:30">8:30</li>
        <li><input type="checkbox" name="hour" value="9:00">9:00</li>
        <li><input type="checkbox" name="hour" value="9:30">9:30</li>
        <li><input type="checkbox" name="hour" value="10:00">10:00</li>
        <li><input type="checkbox" name="hour" value="10:30">10:30</li>
        <li><input type="checkbox" name="hour" value="11:00">11:00</li>
        <li><input type="checkbox" name="hour" value="11:30">11:30</li>
        <li><input type="checkbox" name="hour" value="12:00">12:00</li>
        <li><input type="checkbox" name="hour" value="12:30">12:30</li>
        <li><input type="checkbox" name="hour" value="13:00">13:00</li>
        <li><input type="checkbox" name="hour" value="13:30">13:30</li>
        <li><input type="checkbox" name="hour" value="14:00">14:00</li>
        <li><input type="checkbox" name="hour" value="14:30">14:30</li>
        <li><input type="checkbox" name="hour" value="15:00">15:00</li>
        <li><input type="checkbox" name="hour" value="15:30">15:30</li>
        <li><input type="checkbox" name="hour" value="16:00">16:00</li>
        <li><input type="checkbox" name="hour" value="16:30">16:30</li>
        <li><input type="checkbox" name="hour" value="17:00">17:00</li>
        <li><input type="checkbox" name="hour" value="17:30">17:30</li>
        <li><input type="checkbox" name="hour" value="18:00">18:00</li>
        <li><input type="checkbox" name="hour" value="18:30">18:30</li>
        <li><input type="checkbox" name="hour" value="19:00">19:00</li>
        <li><input type="checkbox" name="hour" value="19:30">19:30</li>
        <li><input type="checkbox" name="hour" value="20:00">20:00</li>
        <li><input type="checkbox" name="hour" value="20:30">20:30</li>
        <li><input type="checkbox" name="hour" value="21:00">21:00</li>
        <li><input type="checkbox" name="hour" value="21:30">21:30</li>
        <li><input type="checkbox" name="hour" value="22:00">22:00</li>
    </ul>
    <input type="submit" value="Add movie">
</form>