<form name="editnews" action="/editnewsCRUD" method="post">
  <input type="text" name="title" placeholder='Title of news'>
  <input type="text" name="newtitle" placeholder='New title of news'>
  <input type="text" name="newcontent" placeholder='News text of news'>
  <input type="submit" value="Edit news">
</form>